                <div class="card h-100">
                    <a class="text-decoration-none" routerLink="/produto-detalhe', produto.id">
                        <div style="align-content:center;">
                            <img src="{{product?.images?.[0]}}" height="164px" width="253px" alt="">
                        </div>
                    </a>

                    <div class="card-body">
                        <p>Por apenas:</p>
                        <h4 class="card-title">{{ product?.title | titlecase }}</h4>
                        @if (product?.discountPercentage) {
                            <span class="badge bg-danger text-white">Promoção!</span>
                            @if(product?.status){
                            <div>
                                <h4 class="card-text">De:
                                    <small><del>{{ product?.price| currency }}</del></small><br>
                                    Por: {{ product?.price | currency }}
                                </h4>
                            </div>
                            }
                            @else {
                                <h4>Produto não está disponível</h4>
                                <ng-content select=".ng-content"></ng-content>
                            }
                        }
                        @else{
                            <h4>{{product?.price| currency }}</h4>
                        }
                    </div>

                    <div class="card-footer">
                        <a [ngClass]="product?.status ? 'btn btn-success' : 'btn btn-danger'" (click)="emitterEvent()">
                            <span [ngClass]="product?.status ? 'fa-solid fa-toggle-on': 'fa-solid fa-toggle-off'"></span>
                        </a>
                        &nbsp;
                        <a [routerLink]="['edit/',product?.id]" class="btn btn-primary">Edit</a>
                    </div>
                </div>

   