@if(registerForm){
<div class="container main-container">
    <h4>Demo Register</h4>
    <hr>
    <form class="row g-3" novalidate (ngSubmit)="AddUser()" [formGroup]="registerForm">
      <div class="col-md-12">
        <label for="name" class="form-label">Full Name</label>
        <input 
              type="text" 
              class="form-control" 
              id="name" 
              placeholder="Enter your Full Name (required)" 
              formControlName="name"
              [ngClass]="{'is-invalid' : displayMessage['name']}"
        >

        @if(displayMessage['name']){
        <span class="text-danger">
          <p [innerHTML]="displayMessage['name']"></p>
        </span>
      }
      </div>

      <div class="col-md-12">
        <label for="cpf" class="form-label">CPF</label>
        <input 
              type="text" 
              class="form-control" 
              id="document" 
              placeholder="Enter your CPF (required)" 
              formControlName="document"
              [ngClass]="{'is-invalid': displayMessage['document']}"
        >
        @if(displayMessage['document']){
          <span class="text-danger">
            <p [innerHTML]="displayMessage['document']"></p>
          </span>       
        }
      </div>

      <div class="col-md-12">
        <label for="email" class="form-label">Email</label>
        <input 
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="Enter your email (required)" 
              formControlName="email"
              [ngClass]="{'is-invalid': displayMessage['email']}"
        >
        @if(displayMessage['email']){
          <span class="text-danger">
            <p [innerHTML]="displayMessage['email']"></p>
          </span>       
        }
      </div>

      <div class="col-md-12">
        <label for="password" class="form-label">Password</label>
        <input 
              type="password" 
              class="form-control" 
              id="password" 
              placeholder="Enter your password (required)" 
              formControlName="password"
              [ngClass]="{'is-invalid': displayMessage['password'] }"
        >
        @if(displayMessage['password']){
          <span class="text-danger">
            <p [innerHTML]="displayMessage['password']"></p>
          </span>       
        }
      </div>

      <div class="col-md-12">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input 
              type="password" 
              class="form-control" 
              id="confirmPassword" 
              placeholder="Confirm your password (required)" 
              formControlName="confirmPassword"
              [ngClass]="{'is-invalid': displayMessage['confirmPassword'] }"
        >
        @if(displayMessage['confirmPassword']){
          <span class="text-danger">
            <p [innerHTML]="displayMessage['confirmPassword']"></p>
          </span>       
        }
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button>
      </div>

      <div class="col-12">
        <div class="col-md-12">
          <p>Formulario valido: {{registerForm.valid}}</p>
          <p>Formulario tocado: {{registerForm.touched}}</p>
          <p>Formulario sujo: {{registerForm.dirty}}</p>
          <p>Formulario: {{formResult}}</p>
        </div>
      </div>
    </form>
  </div>
}
  