<main class="bg-primary py-5 mb-5">
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
      <div class="row">
        <div class="col-lg-2 text-center">
          <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular Logo" />
        </div>
        <div class="col-lg-10">
          <h1 class="text-white">{{title}}</h1>
          <p class="text-white">{{description}}</p>
        </div>
      </div>
    </div>
  </main>

  <div class="container main-container mb-5">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      @for(item of Itens; track item.id){
      <div class="col">
        <div class="card h-100">
          <img class="card-img-top" [src]="item.img" height="164px" width="253px" alt="">
          <div class="card-body">
            <h4 class="card-title">{{item.title}}</h4>
            <p class="card-text">{{item.description}}</p>
          </div>
          <div class="card-footer d-flex justify-content-center">
            @if(item.show){
              <a href="#" (click) = "click()" class="btn btn-primary">Saiba mais</a>
            }
          </div>
        </div>
      </div>
    }
    </div>
  </div>
  